<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Learn Hindi</title>
    <link rel="stylesheet" href="page2.css">
</head>
<body>
    <div class="header">
        <div class="title-container">
            <div class="profile-pic"></div>
            <span>LearnHindi</span>
        </div>
        <img src="./data/back.jpg" alt="Back">
    </div>

    <div class="subtitle">
        <img src="./data/continue_practicing.jpg" alt="Continue Practicing">
    </div>

    <div class="container">
        <div class="row">
            <img src="./data/Devanagari_अ.svg.png" class="letter progress" alt="अ">
            <img src="./data/Devanagari_आ.svg.png" class="letter progress" alt="आ">
            <img src="./data/Devanagari_इ.svg.png" class="letter" alt="इ">
            <img src="./data/Devanagari_ई.svg.png" class="letter" alt="ई">
            <img src="./data/Devanagari_उ.svg.png" class="letter" alt="उ">
            <img src="./data/Devanagari_ऊ.svg.png" class="letter" alt="ऊ">
        </div>
        
        <div class="row">
            <img src="./data/Devanagari_e.svg.png" class="letter" alt="ए">
            <img src="./data/Devanagari_ae.svg.png" class="letter" alt="ऐ">
            <img src="./data/Devanagari_o.svg.png" class="letter" alt="ओ">
            <img src="./data/Devanagari_au.svg.png" class="letter" alt="औ">
            <img src="./data/Devanagari_am.svg.png" class="letter am" alt="अं">
            <img src="./data/Devanagari_ah.svg.png" class="letter ah" alt="अः">
        </div>

        <div class="row">
            <img src="./data/Devanagari_ka.svg.png" class="letter" alt="क">
            <img src="./data/Devanagari_kha.svg.png" class="letter" alt="ख">
            <img src="./data/Devanagari_ga.svg.png" class="letter" alt="ग">
            <img src="./data/Devanagari_gha.svg.png" class="letter" alt="घ">
            <img src="./data/Devanagari_nka.svg.png" class="letter" alt="ङ">
        </div>

        <div class="row">
            <img src="./data/Devanagari_cha.svg.png" class="letter" alt="च">
            <img src="./data/Devanagari_chha.svg.png" class="letter" alt="छ">
            <img src="./data/Devanagari_ja.svg.png" class="letter" alt="ज">
            <img src="./data/Devanagari_jha.svg.png" class="letter" alt="झ">
            <img src="./data/Devanagari_ncha.svg.png" class="letter" alt="ञ">
        </div>

        <div class="row">
            <img src="./data/Devanagari_ta.svg.png" class="letter" alt="ट">
            <img src="./data/Devanagari_tha.svg.png" class="letter" alt="ठ">
            <img src="./data/Devanagari_da.svg.png" class="letter" alt="ड">
            <img src="./data/Devanagari_dha.svg.png" class="letter" alt="ढ">
            <img src="./data/Devanagari_nta.svg.png" class="letter" alt="ण">
        </div>

        <div class="row">
            <img src="./data/Devanagari_ta1.svg.png" class="letter" alt="त">
            <img src="./data/Devanagari_tha1.svg.png" class="letter" alt="थ">
            <img src="./data/Devanagari_da1.svg.png" class="letter" alt="द">
            <img src="./data/Devanagari_dha1.svg.png" class="letter" alt="ध">
            <img src="./data/Devanagari_na.svg.png" class="letter" alt="न">
        </div>

        <div class="row">
            <img src="./data/Devanagari_pa.svg.png" class="letter" alt="प">
            <img src="./data/Devanagari_pha.svg.png" class="letter" alt="फ">
            <img src="./data/Devanagari_ba.svg.png" class="letter" alt="ब">
            <img src="./data/Devanagari_bha.svg.png" class="letter" alt="भ">
            <img src="./data/Devanagari_ma.svg.png" class="letter" alt="म">
        </div>

        <div class="row">
            <img src="./data/Devanagari_ya.svg.png" class="letter" alt="य">
            <img src="./data/Devanagari_ra.svg.png" class="letter" alt="र">
            <img src="./data/Devanagari_la.svg.png" class="letter" alt="ल">
            <img src="./data/Devanagari_va.svg.png" class="letter" alt="व">
        </div>

        <div class="row">
            <img src="./data/Devanagari_sha.svg.png" class="letter" alt="श">
            <img src="./data/Devanagari_sha1.svg.png" class="letter" alt="ष">
            <img src="./data/Devanagari_sa.svg.png" class="letter" alt="स">
            <img src="./data/Devanagari_ha.svg.png" class="letter" alt="ह">
        </div>

    </div>

    
</div>
</body>
</html>

    </div>
</body>
</html>
